java-dev-environment/.vagrant/machines/default/virtualbox/action_provision
java-dev-environment/.vagrant/machines/default/virtualbox/action_set_name
java-dev-environment/.vagrant/machines/default/virtualbox/creator_uid
java-dev-environment/.vagrant/machines/default/virtualbox/id
java-dev-environment/.vagrant/machines/default/virtualbox/index_uuid
java-dev-environment/.vagrant/machines/default/virtualbox/private_key
java-dev-environment/.vagrant/machines/default/virtualbox/synced_folders
